<div ng-controller="VehiclesListCtrl as vehicles">
  <h2>Vehicles</h2>
  <img src="../../images/bear-loading.gif" id="loading" ng-if="vehicles.vehicles.length == 0">
  <div ng-if="vehicles.vehicles.length > 0">
  <a ui-sref="vehicle-addedit">[Add]</a>
    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <th>model</th>
            <th>number</th>
            <th>engineNumber</th>
            <th>year</th>
            <th>color</th>
            <th>active</th>
            <th>edit</th>
            <th>delete</th>
        </thead>
        <tbody>
            <tr ng-repeat="vehicle in vehicles.vehicles">
                <td>{{vehicle.model}}</td>
                <td>{{vehicle.number}}</td>
                <td>{{vehicle.engineNumber}}</td>
                <td>{{vehicle.year}}</td>
                <td>{{vehicle.color}}</td>
                <td><span class="glyphicon glyphicon-ok" ng-if="vehicle.isActive"></span></td>
                <td>
                    <a ui-sref="vehicle-addedit({vehicleId: vehicle._id})" class="btn">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                    </a>
                </td>
                <td>
                    <a class="btn" data-vehicle-id="{{vehicle._id}}" ng-click="vehicles.deleteVehicle(vehicle._id)">
                        <span class="glyphicon glyphicon-remove"></span> delete
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
